@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ログインページ */
.error-message{
    color: red;
    font-size: 0.8em;
}

.main-box{
    display: block;
}

.first-bg{
    background-color: #ecf1f6;
}

.login-box{
    height: 38vh;
    width: 25em;
    border: solid 1px #c0c0c0;
    border-radius: 10px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .3);
    background-color: #FFF;
}

.atlas{
    display: block;
    margin: 35px auto;
    width: 50%;
}

/* body */
.all_content {
  background: #ECF1F6;
}

ul,
li {
  list-style: none;
}

/* サイドバー */
.sidebar {
  width: 250px;
  background-color: #03AAD2;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.main-container {
  width: 100%;
  flex-grow: 1;
}

.mix_container{
    align-items: stretch;
    min-height: 100vh;
}

.sidebar p a {
  color: #FFF;
  margin-left: 10px;
}

.sidebar-icon img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    /* filter: invert(100%); */
}

.sidebar-icon{
    margin-top: 10px;
}

/* トップページ */
.top-title{
    margin-top: 10px;
    margin-left: 20px;
}

.user_status {
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .3);
}

/* スクール予約関連 */
.day-blank {
  background: #D3D3D3;
}

.day-sat{
  color: #0000FF;
}

.day-sun {
  color: #FF0000;
}

.past-day {
  background: #EEE;
}

.finish_color{
    color: #000000;
}

.calendar-td {
  min-width: 100px;
}

.day_part {
  color: #494949;
  font-size: 12px;
}

.adjust-table {
  width: 70% !important;
}

.adjust-table td {
  padding: 0 !important;
}

.adjust-area p {
  justify-content: space-around;
}

.adjust-table-btn {
  width: 70%;
}

/* モーダル */
.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 45%;
}

.button__box {
    display: flex;
}

.modal_title{
    line-height: none;
}

/* 掲示板 */
.sub_categories {
  display: none;
}

.post_create_area {
  background: #FFF;
  border-radius: 10px;
}

.post_create_area textarea {
  resize: none;
  height: 300px;
  white-space: pre-wrap;
}

.detail_container {
  background: #FFF;
}

.detail_container_error{
    margin-left: 20px;
}

.post_area {
  background: #FFF;
  border-radius: 10px;
}

.post_area a {
    font-weight: bold;
    color: #000000;
}

.post_area span,
.editarea_name{
    color: #999;
    font-weight: bold;
}

.post_bottom_area {
  justify-content: space-between;
}

.like_btn,
.un_like_btn {
  margin-left: 30px;
  cursor: pointer;
  font-weight: 900;
}

.un_like,
.un_like_btn {
  color: #E2254D;
}

.error_message {
  font-size: 12px;
  color: red;
}

/* ---------------------投稿ボタン */
.post-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    background-color: #00b4db;
    height: 40px;
}
/* ---------------------検索ボタン */
.post-keyword{
    padding: 0 12px;
    border: solid 1px #c0c0c0;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    flex-grow: 1;/* キーワード入力欄を可能な限り広げる */
    min-width: 0; /* 横幅の計算を正しくする */
}

.keyword-btn{
    padding: 0 12px;
    border: solid 1px #00b4db;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    color: #fff;
    background-color: #00b4db;
}

.post-search{
    display: flex;
    height: 40px;
    margin-bottom: 15px;
}

/* ---------------------Like、myポストボタン */
.post-btn-box{
    display: flex;
    text-align: center;
    height: 40px;
    margin-bottom: 15px;
}

.category_like{
    padding: 0 12px;
    margin-right: 2px;
    border: solid 1px #ffb6c1;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-color: #ffb6c1;
    flex-grow: 1;/* キーワード入力欄を可能な限り広げる */
    min-width: 0; /* 横幅の計算を正しくする */
}

.category_mypost{
    padding: 0 12px;
    border: solid 1px #ffd700;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-color: #ffd700;
    flex-grow: 1;/* キーワード入力欄を可能な限り広げる */
    min-width: 0; /* 横幅の計算を正しくする */
}

/* 掲示板 詳細画面 */
.contributor {
  font-size: 12px;
  color: #999;
  font-weight: bold;
  justify-content: space-between;
  margin-bottom: 10px;
}

.detail_post {
  font-size: 12px;
  color: #9E9E9E;
}

.edit-modal-open {
  cursor: pointer;
}

.modal-inner-body textarea {
  height: 150px;
  resize: none;
}

.edit-modal-btn {
  justify-content: space-between;
}

/*---------------------自分の投稿の編集ボタン */
.edit-btn{
    border: none;
    color: #fff;
    background-color: #007bff;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 1.2em;
}

/*---------------------自分の投稿の編集ボタン */
.delete-btn{
    margin-left: 10px;
    border: none;
    color: #fff;
    background-color: #E2254D;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
}

/* 掲示板 コメント */
.comment_container {
  background: #FFF;
}

.comment_area p,
.comment_area input {
  font-size: 12px;
  font-weight: bold;
}

.comment_area textarea {
  height: 300px;
  resize: none;
}

.comment_container span {
  font-size: 12px;
}

.post_status span {
  font-size: 12px;
}

.post_bottom_box{
    display: flex;
}

/* 掲示板　カテゴリー */
.category_area {
  background: #FFF;
  border-radius: 10px;
}

.category_area input{
    margin-bottom: 10px;
}

.main_category_name{
    width: 100%;
    margin-bottom: 10px;
}

.category_box {
  border-radius: 5px;
  padding: 3px;
  background: #999;
  font-size: 10px;
  color: #FFF;
}

.category_btn {
  font-size: 12px;
  border-radius: 5px;
  padding: 5px;
  border: none;
  background: #00b4db;
  color: #FFF;
  height: 25px;
}

/* ---------------------メインカテゴリーボタン */
.main_categories{
    position: relative;
  display: block;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border: none;
  cursor: pointer;
  background: #ecf1f6;
  border-bottom: solid 2px #dcdcdc;
}

.main_categories span,
.search_conditions span{
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    width: 0.7em;
    height: 0.7em;
    border: 0.1em solid currentColor;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateY(-25%) rotate(135deg);
}

.main_categories span.open,
.search_conditions span.open,
.subject_edit_btn span.open{
    transform: translateY(-25%) rotate(-45deg);
}

.point_second{
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    width: 0.7em;
    height: 0.7em;
    border: 0.1em solid currentColor;
    border-right: 0;
    border-top: 0;
    box-sizing: border-box;
    transform: translateY(-25%) rotate(135deg);
}

/* ---------------------カテゴリーボタン */
.post_sub{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sub_category{
    display: none;
    width: 80%;
    margin: 10px auto;
    text-align: left;
    border: none;
    border-bottom: solid 1px #999;
    cursor: pointer;
    background-color: #ecf1f6;
}


/* ユーザー検索 */
.search_area{
    margin-left: 30px;
}

.reserve_users_area {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-top: 30px;
  margin-left: 50px;
  height: 80vh;
  overflow: scroll;
  padding: 10px;
  background: #ecf1f6;
  border-radius: 5px;
}

.reserve_users_area > *:nth-last-child(1){
    margin-right: auto;
}

.reserve_users_area span {
  font-size: 12px;
}

.one_person {
  margin-right: 10px;
  margin-bottom: 25px;
  padding: 15px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .3);
  border-radius: 10px;
  width: 250px;
  height: 250px;
  background-color: #fff;
}

.one_person span:nth-child(2),
.one_person span:nth-child(3),
.one_parson_name{
    font-weight: bold;
}

.search_conditions{
    border-bottom: solid 2px #999;
    margin-top: 30px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    color: #000080;
    cursor: pointer;
}

.search_conditions_inner {
  display: none;
}

.search_conditions_inner p{
    color: #000080;
    margin-bottom: 5px;
}

.search_conditions_box{
    margin-bottom: 15px;
}

.engineer{
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: #000000;
    background-color: #dcdcdc;
}

.checkbox{
    margin-right: 10px;
}
/* 検索ボタン */
.search_container{
    width: 80%;
    margin: auto;
    position: relative;
}

.search_btn_box{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.search_btn{
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #00b4db;
    height: 40px;
    width: 80%;
}

.reset_box{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.reset{
    border: none;
    background-color: none;
    color: #00b4db;
}

.subject_edit_btn {
  position: relative;
  color: #00b4db;
  cursor: pointer;
}

.subject_edit_btn span{
    position: absolute;
    left: 125px;
    top: 7px;
    display: block;
    width: 0.7em;
    height: 0.7em;
    border: 0.1em solid currentColor;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateY(-25%) rotate(135deg);
}

.subject_inner {
  display: none;
}

/* 検索窓 */
.search_title{
    color: #000080;
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 5px;
}

.free_word{
    border: none;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 10px;
    color: #999;
    width: 80%;
    background-color: #dcdcdc;
}

.search_p{
    margin-bottom: 5px;
    color: #000080;
}

.search_select{
    border: none;
    border-radius: 10px;
    padding: 6px;
    color: #999;
    margin-bottom: 10px;
    background-color: #dcdcdc;
}

/* 詳細検索 */
.search_role span{
    color: #000000;
}

/* ------------------プロフィール */
.subject_check_box{
    display: flex;
}

.subject_check_box div{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.subject_check_box label{
    margin-right: 3px;
    margin-bottom: 0;
}

.subject_check_box input{
    margin-right: 10px;
}

/* カレンダー */
.calendar_container{
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .3);
    margin-bottom: 10px;
}

.calender_reservation{
    margin-top: 30px;
}

/* カレンダー詳細画面 */
.table_title{
    background-color: #00b4db;
    color: #fff;
}

.table_content:nth-child(odd){
    background-color: #d6ffff;
}

.reserve_area{
    width: 80%;
    height: 80%;
    margin: 0 auto;
}

.reserve_table
{
    border-collapse: separate;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .3);
    padding: 2px;
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
}

.reserve_table td{
    padding: 7px;
}

/* search.blade.php */
